# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore log and output files
logs/
*.log

# Ignore virtual environments
venv/


# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VSCode settings
.vscode/


# Ignore build and cache directories
build/
dist/
*.egg-info/

